<main class='main-content page cart'>
    <div class="page-header">
        <div class="container">
            {{ function('woocommerce_breadcrumb') }}
            <div class="all-page-title">
                <h1>Личный Кабинет</h1>
            </div>
        </div>
    </div>
<div class="account-content">
    <div class="container">
        <div class="account-left">
            <div class="account-left-name">Моя учетная запись</div>
            <div class="account-left-desktop">
                <div class="account-left-menu">
                    <ul>
                        <li><a href="{{ edit_account_link }}">Основные данные</a></li>
                        <li><a href="{{ change_password_link }}">Изменить свой пароль</a></li>
                        <li><a href="{{ edit_address_link }}">Изменить мои адреса</a></li>
                        <li><a href="{{ notifications_link }}">Уведомления</a></li>
                    </ul>
                </div>
                <div class="account-left-name">Мои заказы</div>
                <div class="account-left-menu">
                    <ul>
                        <li><a href="{{ orders_link }}">История заказов</a></li>
                    </ul>
                </div>
            </div>

            <div class="account-left-mobile">
                <select name="" id="">
                    <option value="" selected ><a href="">Основные данные</a></option>
                    <option value=""><a href="">Изменить свой пароль</a></option>
                    <option value=""><a href="">Изменить мои адреса</a></option>
                    <option value=""><a href="">Уведомления</a></option>
                    <option value=""><a href="">История заказов</a></option>
                </select>
            </div>

        </div>
        <div class="account-right">
            {% do action('woocommerce_account_content') %}

            


        </div>
    </div>
</div>
</main>