<div class="account-right-name">История заказов</div>
<div class="history-content">

    {% if has_orders %}
        <div class="history-content-inner desktop">
            <table>
                <tr>
                    <td></td>
                    <td>Заказ</td>
                    <td>Стоимость</td>
                    <td>Статус</td>
                    <td>Операции</td>
                </tr>
                {% for order_item in order_items %}
                <tr>
                    <td>{{order_item.date}}</td>
                    <td>№ {{order_item.number}}</td>
                    <td>{{order_item.total}}</td>
                    <td>{{order_item.status}}</td>
                    <td>
                        <a href="javascript:void(0);" class="ced_my_account_reorder" href="{{order_item.url}}" data-order_id="{{ order_item.id }}">Повторить заказ</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="history-content-inner mobile">
            {% for order_item in order_items %}
            <div class="history-content-item">
                <div class="history-date">{{order_item.date}}</div>
                <div class="history-content-item-info">
                    <div class="history-content-item-column">
                        <div class="history-content-item-name">Заказ</div>
                        <div class="history-content-item-value">№ {{order_item.number}}</div>
                    </div>
                    <div class="history-content-item-column">
                        <div class="history-content-item-name">Стоимость</div>
                        <div class="history-content-item-value">{{order_item.total}}</div>
                    </div>
                    <div class="history-content-item-column">
                        <div class="history-content-item-name">Статус</div>
                        <div class="history-content-item-value">{{order_item.status}}</div>
                    </div>
                </div>
                <div class="history-content-item-operations">
                    <div class="history-content-item-name">Операции</div>
                    <div class="history-content-item-value">
                        <a href="javascript:void(0);" class="ced_my_account_reorder" href="{{order_item.url}}" data-order_id="{{ order_item.id }}">Повторить заказ</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Вы еще не совершали покупок!</p>
    {% endif %}
    
</div>