<!DOCTYPE html>

<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}" />
		<title>
			{% if wp_title %}
				{{ wp_title }} - {{ site.name }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>
			
		<!-- favicon start -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.link }}/assets/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{ site.theme.link }}/assets/images/favicon/manifest.json">
		<link rel="shortcut icon" href="{{ site.theme.link }}/assets/images/favicon/favicon.ico">
		<!-- favicon end -->
				
		<meta name="description" content="{{ site.description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="author" href="{{ site.theme.link }}/humans.txt" />
		<link rel="pingback" href="{{ site.pingback_url }}" />
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800,900&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
		{{function('wp_head')}}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    </head>
    <body class="{{ body_class }}">
        <div id="app">
        <header class="main-header desktop">
        <div class="main-header-top">
            <div class="container">
                <div class="main-header-text">Доставка еды из ресторана в г. Ликино-Дулево</div>
                <div class="main-header-logo">
                    <a href="{{ site.link }}">
                        <img src="{{ site.theme.link }}/assets/images/logo.svg" alt="">
                    </a>
                </div>
                <div class="main-header-contacts">
                    <div class="main-header-phones">
                            <div class="main-header-phone"><a href="tel:{{ phone_1|striptags|replace({' ': ''}) }}">{{ phone_1 }}</a></div>
                            <div class="main-header-phone"><a href="tel:{{ phone_2|striptags|replace({' ': ''}) }}">{{ phone_2 }}</a></div>
                    </div>
                    <div class="main-header-callback">
                        <a href="#" v-on:click.prevent="showModal('modal-window--callback')">Обратный звонок</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-header-bottom">
            <div class="container">
                <div class="main-header-menu">
                    <div class="main-header-menu-container">
                        <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                            {% for item in menu_header.get_items %}
								<li itemprop="name" class="{{item.class}}">
									<a itemprop="url" href="{{ item.link }}">
										{{ item.title }}
									</a>
								</li>
							{% endfor %}   
                        </ul>
                    </div>
                </div>
                <div class="user-controls">
                    {% do action('header_action') %}
                    <a href="{{ site.link }}/my-account/" class="main-header-lk"><svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 12.5a4.169 4.169 0 004.167-4.167A4.165 4.165 0 0012.5 4.167a4.166 4.166 0 100 8.333zm0 2.083c-2.776 0-8.333 1.391-8.333 4.167v2.083h16.666V18.75c0-2.776-5.557-4.167-8.333-4.167z" fill="#000"/></svg></a>
                </div>
            </div>
        </div>
        </header>
        <header class="main-header mobile">
        <div class="main-header-top">
            <div class="container">
                <div class="main-header-text">Доставка еды из ресторана в г. Ликино-Дулево</div>
            </div>
        </div>
        <div class="main-header-middle">
            <div class="main-header-logo">
                <a href="{{ site.link }}">
                    <img width="279" height="73" src="{{ site.theme.link }}/assets/images/logo.svg" alt="">
                </a>
            </div>
            <button class="btn-hamburger btn-hamburger-1 js_hamburger"><span></span></button>
        </div>
        <div class="main-header-bottom">
            <div class="container">
                <div class="main-header-contacts">
                <div class="main-header-phones">
                    <div class="main-header-phone"><a href="tel:{{ phone_1|striptags|replace({' ': ''}) }}">{{ phone_1 }}</a></div>
                    <div class="main-header-phone"><a href="tel:{{ phone_2|striptags|replace({' ': ''}) }}">{{ phone_2 }}</a></div>
                </div>
                <div class="main-header-callback">
                    <a href="#" v-on:click.prevent="showModal('modal-window--callback')">Обратный звонок</a>
                </div>
                </div>
                <div class="user-controls">
                    {% do action('header_action_mobile') %}
                </div>
            </div>
        </div>

        <div class="mobile-menu">
                <div class="mobile-menu-header">     
                    <div class="mobile-controls">
                        <a href="{{ site.link }}/my-account/" class="main-header-lk">
                            <svg width="25" height="25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 12.5a4.169 4.169 0 004.167-4.167A4.165 4.165 0 0012.5 4.167a4.166 4.166 0 100 8.333zm0 2.083c-2.776 0-8.333 1.391-8.333 4.167v2.083h16.666V18.75c0-2.776-5.557-4.167-8.333-4.167z" fill="#fff"/></svg>
                            <span>Войти/Регистрация</span>
                        </a>                    
                    </div>
                    <button class="btn-hamburger active btn-hamburger-1 js_hamburger"><span></span></button>
                </div>
                <div class="mobile-menu-content">
                    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                        {% for item in menu_header.get_items %}
                            <li itemprop="name" class="{{item.class}}">
                                <a itemprop="url" href="{{ item.link }}">
                                    {{ item.title }}
                                </a>
                            </li>
                        {% endfor %}   
                    </ul>
                </div>
                <div class="mobile-menu-phones">
                    <div class="main-header-phone"><a href="tel:{{ phone_1|striptags|replace({' ': ''}) }}">{{ phone_1 }}</a></div>
                    <div class="main-header-phone"><a href="tel:{{ phone_2|striptags|replace({' ': ''}) }}">{{ phone_2 }}</a></div>
                </div>
            </div>
        </header>