{{ fn('timber_set_product', post) }}
<div class="popular-item">
    <a href="{{ post.link }}" class="popular-item-img">
        {% if post.thumbnail %}
            <img src="{{ post.thumbnail.src('medium_large') }}" alt="{{ post.title }}">
        {% else %}
            <img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
        {% endif %}
    </a>
    <div class="popular-item-inner">
        <a href="{{ post.link }}" class="popular-item-name">{{ post.title }}</a>
        <div class="popular-item-info">
            <div class="popular-item-price">{{ post._price|apply_filters('wc_price') }} р.</div>
            <button class="popular-item-button add-to-cart" v-on:click="addCart({{ post.id }})">В корзину</button>
        </div>
    </div>
</div>

