<main class='main-content page cart'>
    <div class="page-header">
        <div class="container">
            <div class="cart-steps">
                <div class="cart-step active">Корзина</div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step">Оформление заказа</div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step">Заказ оформлен</div>
            </div>
        </div>
    </div>
    <div class="page_cart-content">
        <div class="container">
            <form action="">
            <div class="cart-left">
            	<div class="cart-table desktop">
            	    <table>
            	        <tr>
            	            <td>Товар</td>
            	            <td>Цена</td>
            	            <td>Количество</td>
            	            <td>Итого</td>
            	            <td></td>
            	        </tr>
            	        {% for product in cart_products  %}
            	        <tr>
            	            <td>
								{% if product.thumbnail %}
									<img class="cart-product-img" src="{{ product.thumbnail }}" alt="">
								{% else %}
									<img class="cart-product-img" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
								{% endif %}
            	                <p class="cart-product-name">{{ product.title }}</p>
            	            </td>
            	            <td>{{ product.price }}</td>
            	            <td>
								<quantity-button count='{{ product.quantity.value }}'/>
            	            </td>
            	            <td>{{ product.subtotal }}</td>
            	            <td>
								<a class="delete-product" href="{{ product.remove_url }}">
									<img src="{{ site.theme.link }}/assets/images/close.svg" alt="">
								</a>
							</td>
            	        </tr>
            	        {% endfor %}
            	    </table>
            	</div>
            	<div class="cart-table mobile">
            	    <div class="cart-table-item">
            	    	<div class="cart-table-item-header">
            	    		<div class="cart-table-item-name">{{ product.title }}</div>
            	    		<div class="cart-table-item-del">
								<a class="delete-product" href="{{ product.remove_url }}">
									<img src="{{ site.theme.link }}/assets/images/close.svg" alt="">
								</a>
							</div>
            	    	</div>
            	    	<div class="cart-table-item-content">
            	    		<div class="cart-table-item-img">
								<img class="cart-product-img" src="{{ site.theme.link }}/assets/images/menu_del.png" alt="">
							</div>
							<div class="cart-table-item-info">
								<div class="cart-table-item-price">
									<div class="cart-table-item-info-name">цена</div>
									<div class="cart-table-item-price-value">{{ product.price }}.</div>
								</div>
								<div class="cart-table-item-quantity">
									<div class="cart-table-item-info-name">количество</div>
									<quantity-button count='{{ product.quantity.value }}'/>
								</div>
								<div class="cart-table-item-total">
									<div class="cart-table-item-info-name">Итого:</div>
									<div class="cart-table-item-price-total-value">{{ product.subtotal }}</div>
								</div>
							</div>
            	    	</div>
            	    </div>
            	</div>
            	<a href="" class="refresh-cart">Обновить корзину</a>
            </div>
            <div class="cart-right">
            	<div class="cart-right-title">СУММА ЗАКАЗа</div>
            	<div class="cart-right-delivery">
            		<label class="control control-radio">
                        Доставка курьером
                        <input type="radio" value="courier" name="delivery" v-model="cart.delivery">
                        <div class="control_indicator"></div>
                    </label>
                    <label class="control control-radio">
                        Самовывоз
                        <input type="radio" value="pickup" name="delivery" v-model="cart.delivery">
                        <div class="control_indicator"></div>
                    </label>
            	</div>
            	<div class="cart-total-price">
            		<div class="cart-total-price-name">Итого</div>
            		<div class="cart-total-price-value" v-cloak>(( cartTotal | formatNumber ))₽</div>
            	</div>
				<a class="checkout-btn" href="{{ checkout_url }}">Оформить заказ</a>
            </div>
            </form>
        </div>
    </div>
</main>