<main class='main-content page cart'>
    <div class="page-header">
        <div class="container">
            <div class="cart-steps">
                <div class="cart-step"><a href="{{ site.link }}/cart">Корзина</a></div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step active">Оформление заказа</div>
                <span class="next-step"><img src="{{ site.theme.link }}/assets/images/arrow-r.svg" alt=""></span>
                <div class="cart-step">Заказ оформлен</div>
            </div>
        </div>
    </div>
    <div class="checkout-page-content">
        <div class="container">
            <div class="checkout-form">
                <div class="checkout-form-name">Оформление заказа</div>
                <form action="">
                    <div class="checkout-form-content">
                        <label for="">
                            <p class="checkout-label">Имя *</p>
                            <input name="name" type="text" v-model="checkout.first_name">
                        </label>

                        <label for="" :class="{ 'input--error': checkout.submitted && $v.checkout.phone.$error }">
                            <p class="checkout-label">Телефон *</p>
                            <masked-input name="phone" type="phone" v-model="checkout.phone" mask="\+\7 (111) 111-11-11"/>
                            <div class="error" v-if="checkout.submitted && $v.checkout.phone.$error">Телефон обязателен</div>
                        </label>

                        <label for="" class="" :class="{ 'input--error': $v.checkout.email.$error }">
                            <p class="checkout-label">E-mail *</p>
                            <input type="text" v-model="$v.checkout.email.$model">
                            <div class="errors-form">
                                <div class="error" v-if="!$v.checkout.email.required">Почта обязательна</div>
                                <div class="error" v-if="!$v.checkout.email.email">Должен быть действительный адрес электронной почты</div>
                            </div>
                        </label>

                        <label for="" v-if="delivery == 'courier'">
                            <p class="checkout-label">Введите адрес доставки *</p>
                            <!-- TODO: временно скрыл -->
                            <!-- <select name="address" v-model="checkout.address">
                                <option value="">Не выбрано</option>
                            </select> -->
                        </label>

                        <div class="checkout-form-row" v-if="delivery == 'courier'">
                            <label  for="" :class="{ 'input--error': checkout.submitted && $v.checkout.city.$error }">
                                <p class="checkout-label">Город *</p>
                                <input type="text" v-model="checkout.city">
                                <div class="error" v-if="checkout.submitted && $v.checkout.city.$error">Город обязателен</div>
                            </label>
                            <label for="" :class="{ 'input--error': checkout.submitted && $v.checkout.street.$error }">
                                <p class="checkout-label">Улица *</p>
                                <input type="text" v-model="checkout.street">
                                <div class="error" v-if="checkout.submitted && $v.checkout.street.$error">Город обязателен</div>
                            </label>
                        </div>

                        <div class="checkout-form-row" v-if="delivery == 'courier'">
                            <label class="check" for="" :class="{ 'input--error': checkout.submitted && $v.checkout.house.$error }">
                                <p class="checkout-label">Дом *</p>
                                <input type="text" v-model="checkout.house">
                                <div class="error" v-if="checkout.submitted && $v.checkout.house.$error">Дом обязателен</div>
                            </label>
                            <label for="">
                                <p class="checkout-label">Кв./офис</p>
                                <input type="text" v-model="checkout.apartment">
                            </label>
                            <label for="">
                                <p class="checkout-label">Домофон (необязательно)</p>
                                <input type="text" v-model="checkout.intercom">
                            </label>
                        </div>
                        
                        <div class="checkout-form-row" v-if="delivery == 'courier'">
                            <label for="">
                                <p class="checkout-label">Подъезд (необязательно)</p>
                                <input type="text" v-model="checkout.porch">
                            </label>
                            <label for="">
                                <p class="checkout-label">Этаж (необязательно)</p>
                                <input type="text" v-model="checkout.floor">
                            </label>
                        </div>

                        <textarea v-model="checkout.comment"></textarea>

                    </div>
                    <div class="checkout-form-content">
                        <div class="checkout-form-name">ВАШ ЗАКАЗ</div>
                        <div class="checkout-total">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>ТОВАР</td>
                                        <td>ИТОГО</td>
                                    </tr>
                                    {% for product in cart_products %}
                                        <tr>
                                            <td>{{ product.title }} × {{ product.quantity.value }}</td>
                                            <td>{{ product.subtotal }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td>Итого</td>
                                        <td>(( cartTotal | formatNumber ))р.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="cart-right-delivery">
                            <label class="control control-radio">
                                Оплата картой банка
                                <input type="radio" value="robokassa" name="pay" v-model="checkout.payment">
                                <div class="control_indicator"></div>
                            </label>
                            <label class="control control-radio">
                                Оплата терминалом
                                <input type="radio" value="jetpack_custom_gateway" name="pay" v-model="checkout.payment">
                                <div class="control_indicator"></div>
                            </label>
                            <label class="control control-radio">
                                Наличными при получении
                                <input type="radio" value="cod" name="pay" v-model="checkout.payment">
                                <div class="control_indicator"></div>
                            </label>
                        </div>
                        <p class="policy_text">Подтверждая заказ, вы соглашаетесь с <a target="_blank" rel="noopener" href="{{ site.link }}/privacy-policy">политикой конфиденциальности</a>.</p>
                        <button class="checkout-btn state-button" 
                        :class="{ 
                            'state-button--pending': checkout.submitStatus == 'PENDING', 
                            'state-button--success': checkout.submitStatus == 'SUCCESS',
                            'state-button--fail': checkout.submitStatus == 'ERROR',
                        }"
                        v-on:click.prevent="orderProducts"><span class="state-button__text">Подтвердить заказ</span></button>                        
                </form>
            </div>
        </div>
    </div>
    
    <transition name="fade">
        <div class="errors-message" v-if="errors.length" v-cloak>
            <button class="button close-error" @click="onCloseErrors"></button>
            <b>Пожалуйста исправьте указанные ошибки:</b>
            <ul>
                <li v-for="error in errors">(( error ))</li>
            </ul>
        </div>
    </transition>
</main>