{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-slider">
	<div class="main-slick">
		<div class="main-slick-content">
			<img src="{{ site.theme.link }}/assets/images/slide.jpg" alt="">
		</div>
	</div>
</div>



<div class="new-block-fone pad-top-30">

    <div class="new-block-fone-white">
        <div class="main-page-tiggers">
        	<div class="container">
        		<a href="{{ site.link }}/product-category/menyu-dostavki/xinkali/" class="main-page-trigger">
        			<div class="main-page-trigger-img"><img src="{{ site.theme.link }}/assets/images/trigger-1.png" alt=""></div>
        			<div class="main-page-trigger-text">Самые вкусные хинкали в городе</div>
				</a>
        		<a href="{{ site.link }}/product-category/menyu-dostavki/shashlyki/" class="main-page-trigger">
        			<div class="main-page-trigger-img"><img src="{{ site.theme.link }}/assets/images/trigger-2.png" alt=""></div>
        			<div class="main-page-trigger-text">Готовим шашлык из самого свежего мяса</div>
				</a>
        		<a href="{{ site.link }}/product-category/menyu-dostavki/vypechka/" class="main-page-trigger">
        			<div class="main-page-trigger-img"><img src="{{ site.theme.link }}/assets/images/trigger-3.png" alt=""></div>
        			<div class="main-page-trigger-text">А еще у нас выпечка вкусная</div>
				</a>
        	</div>
        </div>
    </div>



{% if activities is not empty  %}
<div class="activity-block">
	<div class="container">
		<div class="main-page-title">Мероприятия</div>
		<div class="activity-block-slick">
			{% for activity in activities %}			
				<div class="activity-item">
					{% if activity.thumbnail %}
						<img src="{{ activity.thumbnail.src|resize(363, 547) }}" alt="{{ activity.title }}">
					{% else %}
						<img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
					{% endif %}
					<div class="activity-hidden-block">
						<div class="activity-hidden-block-title">{{ activity.title }}</div>
						<div class="activity-hidden-block-text">
							<p>{{ activity.preview.length(50).read_more('') }}</p>		
						</div>
					</div>
				</div>
			{% endfor %}	
		</div>
	</div>
</div>
{% endif %}
</div>

{% if popular_products is not empty  %}
<div class="popular-dishes">
	<div class="all-page-title">Популярные блюда</div>
	<div class="container new-block-fone">
		
		<div class="popular-slick">
			{% for post in popular_products %}
				{% include "partials/product-item.twig" %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}


<div class="new-block-fone pad-top-30">    
    <div class="delivery-menu">
    	<div class="container">
    		<div class="main-page-title">МЕНЮ ДОСТАВКИ</div>

            <div class="new-block-fone-white pad-50">
    		<div class="delivery-menu-content">
    			<a href="{{ site.link }}/product-category/menyu-dostavki/xinkali/" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-1.svg" alt=""></div>
					<div class="delivery-menu-item-name">Хинкали</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/salaty" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-2.svg" alt=""></div>
					<div class="delivery-menu-item-name">Салаты</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/xolodnye-zakuski" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-3.svg" alt=""></div>
					<div class="delivery-menu-item-name">Холодные закуски</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/goryachie-zakuski" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-4.svg" alt=""></div>
					<div class="delivery-menu-item-name">Горячие закуски</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/supy" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-5.svg" alt=""></div>
					<div class="delivery-menu-item-name">Супы</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/shashlyki" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-6.svg" alt=""></div>
					<div class="delivery-menu-item-name">Шашлыки</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/garniry" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-7.svg" alt=""></div>
					<div class="delivery-menu-item-name">Гарниры</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/vypechka" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-8.svg" alt=""></div>
					<div class="delivery-menu-item-name">Выпечка</div>
				</a>
				<a href="{{ site.link }}/product-category/menyu-dostavki/deserty" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-9.svg" alt=""></div>
					<div class="delivery-menu-item-name">Десерты</div>
				</a>
				<a href="{{ site.link }}/product-categor/menyu-dostavki/napitki" class="delivery-menu-item">
					<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-11.svg" alt=""></div>
					<div class="delivery-menu-item-name">Напитки</div>
				</a>
    		</div>
            </div>

    	</div>
    </div>




<div class="contacts-block">
	<div class="container">
		<div class="contacts-block-info">
			<div class="main-page-title">Наши контакты</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Время работы ресторана:</div>
				<div class="contacts-block-item-value">ресторан: с 9.00 – 00.00 ежедневно</div>
				<div class="contacts-block-item-value">Время работы доставки:</div>
				<div class="contacts-block-item-value">с 09-00 до 23-00</div>
			</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Адрес:</div>
				<div class="contacts-block-item-value">Ликино-Дулево, ул. Калинина, 5 </div>
			</div>
			<div class="contacts-block-item">
				<div class="contacts-block-item-name">Электронная почта:</div>
				<div class="contacts-block-item-value"><a href="{{ email }}">{{ email }}</a></div>
			</div>
			<div class="contacts-block-callback"><a href="#" v-on:click.prevent="showModal('modal-window--callback')">Заказать звонок</a></div>
		</div>
		<div class="contacts-block-map">
			<div id="map" style="width: 100%; height: 409px;"></div>
		</div>
	</div>
</div>

</div>


</main>
{% include "partials/footer.twig" %}