{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>О ресторане</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="about-content">
        <div class="new-block-fone-white pad-50">
        <div class="container">
            <div class="about-content-inner">
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">{{ post.meta('block_1_title') }}</div>
                        <div class="about-content-text">
                            <p>{{ post.meta('block_1_text') }}</p>
                        </div>
                    </div>
                    <div class="about-content-image">
                        <img src="{{ post.meta('block_1_images') }}" alt="">
                    </div>
                </div>
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">{{ post.meta('block_2_title') }}</div>
                        <div class="about-content-text">
                            <p>{{ post.meta('block_2_text') }}</p>
                        </div>
                    </div>
                    <div class="about-content-image">
                        <img src="{{ post.meta('block_2_images') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="about-content-partners">
            	<div class="about-content-name">Наши партнеры</div>
            	<div class="about-content-partners-content">
                {% for item in post.meta('our_partners') %}
                    <div class="about-partners-item">
                        <img src="{{ item.logo }}" alt="">
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
    {% if activities is not empty  %}
        <div class="activity-block">
            <div class="container">
                <div class="main-page-title">Мероприятия</div>
                <div class="activity-block-slick">
                    {% for activity in activities %}            
                        <div class="activity-item">
                            {% if activity.thumbnail %}
                                <img src="{{ activity.thumbnail.src|resize(363, 547) }}" alt="{{ activity.title }}">
                            {% else %}
                                <img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
                            {% endif %}
                            <div class="activity-hidden-block">
                                <div class="activity-hidden-block-title">{{ activity.title }}</div>
                                <!-- TODO: удалить неразравные пробелы -->
                                <div class="activity-hidden-block-text">{{ activity.preview.length(50).read_more('') }}</div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% include "partials/footer.twig" %}