{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>О ресторане</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="about-content">
        <div class="new-block-fone-white pad-50">
        <div class="container">
            <div class="about-content-inner">
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">О НАШЕМ РЕСТОРАНЕ</div>
                        <div class="about-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet augue vestibulum, commodo arcu et, gravida neque. Cras finibus diam non sapien scelerisque rhoncus. Nunc facilisis aliquam iaculis. Nulla volutpat id nisl id rutrum. Nullam quis bibendum tortor. Aliquam non finibus dui, eget iaculis metus. In efficitur, justo sed tristique sodales, urna urna volutpat orci, eget scelerisque nulla tortor et ligula. Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula. Quisque rutrum tristique velit eu ultricies.Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula.</p>
                        </div>
                    </div>
                    <div class="about-content-image"><img src="{{ site.theme.link }}/assets/images/about1.jpg" alt=""></div>
                </div>
                <div class="about-content-row">
                    <div class="about-content-info">
                        <div class="about-content-title">О НАШЕМ РЕСТОРАНЕ</div>
                        <div class="about-content-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas imperdiet augue vestibulum, commodo arcu et, gravida neque. Cras finibus diam non sapien scelerisque rhoncus. Nunc facilisis aliquam iaculis. Nulla volutpat id nisl id rutrum. Nullam quis bibendum tortor. Aliquam non finibus dui, eget iaculis metus. In efficitur, justo sed tristique sodales, urna urna volutpat orci, eget scelerisque nulla tortor et ligula. Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula. Quisque rutrum tristique velit eu ultricies.Aliquam ligula purus, accumsan non ipsum a, ultricies euismod est. Donec tempus mollis gravida. Integer varius sollicitudin congue. Integer nec volutpat arcu. Curabitur auctor augue vitae luctus vehicula. Nullam quam magna, ultricies at est vitae, finibus varius ligula. Nulla in est nisl. Integer pharetra, nulla et tincidunt eleifend, sem erat iaculis turpis, ut efficitur orci magna non ligula.</p>
                        </div>
                    </div>
                    <div class="about-content-image"><img src="{{ site.theme.link }}/assets/images/about2.jpg" alt=""></div>
                </div>
            </div>
            <div class="about-content-partners">
            	<div class="about-content-name">Наши партнеры</div>
            	<div class="about-content-partners-content">
                {% for item in 0..2 %}
                    <div class="about-partners-item"><img src="{{ site.theme.link }}/assets/images/partner.jpg" alt=""></div>
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
    </div>
    {% if activities is not empty  %}
        <div class="activity-block">
            <div class="container">
                <div class="main-page-title">Мероприятия</div>
                <div class="activity-block-slick">
                    {% for activity in activities %}            
                        <div class="activity-item">
                            {% if activity.thumbnail %}
                                <img src="{{ activity.thumbnail.src|resize(363, 547) }}" alt="{{ activity.title }}">
                            {% else %}
                                <img class="" src="{{ site.theme.link }}/assets/images/placeholder-images.webp" alt="">
                            {% endif %}
                            <div class="activity-hidden-block">
                                <div class="activity-hidden-block-title">{{ activity.title }}</div>
                                <!-- TODO: удалить неразравные пробелы -->
                                <div class="activity-hidden-block-text">{{ activity.preview.length(50).read_more('') }}</div>
                            </div>
                        </div>
                    {% endfor %}    
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% include "partials/footer.twig" %}