{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>Основное меню</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="single_menu-content">
        <div class="container">
            <div class="single_menu-buttons">
                {% for submenu in menu_option %}
                    <div class="choice-button {{ loop.first ? 'active' }}" data-id="t{{ loop.index }}">{{ submenu.name }}</div>
                {% endfor %}
            </div>
            <div class="single_menu-tabs">
                {% for submenu in menu_option %}
                    <div class="single_menu-tabs-content {{ loop.first ? 'visible' }}" id="t{{ loop.index }}">
                        <div class="menu-slick">
                            {% for image in submenu.images %}
                                <div class="menu-slick-content">
                                    <img src="{{ Image(image) }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}