{% include "partials/header.twig" %}
<main class='main-content page'>
	<div class="page-header">
		<div class="container">
			<div class="all-page-title">
				<h1>МЕНЮ ДОСТАВКИ</h1>
				{{ function('woocommerce_breadcrumb') }}
			</div>
		</div>
	</div>
	<div class="delivery-menu">
		<div class="new-block-fone-white pad-50">
	<div class="container">
		<div class="delivery-menu-content">
			<a href="{{ site.link }}/product-category/menyu-dostavki/xinkali/" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-1.svg" alt=""></div>
				<div class="delivery-menu-item-name">Хинкали</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/salaty" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-2.svg" alt=""></div>
				<div class="delivery-menu-item-name">Салаты</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/xolodnye-zakuski" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-3.svg" alt=""></div>
				<div class="delivery-menu-item-name">Холодные закуски</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/goryachie-zakuski" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-4.svg" alt=""></div>
				<div class="delivery-menu-item-name">Горячие закуски</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/supy" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-5.svg" alt=""></div>
				<div class="delivery-menu-item-name">Супы</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/shashlyki" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-6.svg" alt=""></div>
				<div class="delivery-menu-item-name">Шашлыки</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/garniry" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-7.svg" alt=""></div>
				<div class="delivery-menu-item-name">Гарниры</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/vypechka" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-8.svg" alt=""></div>
				<div class="delivery-menu-item-name">Выпечка</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/deserty" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-9.svg" alt=""></div>
				<div class="delivery-menu-item-name">Десерты</div>
			</a>
			<a href="{{ site.link }}/product-category/menyu-dostavki/napitki" class="delivery-menu-item">
				<div class="delivery-menu-item-img"><img src="{{ site.theme.link }}/assets/images/menu-11.svg" alt=""></div>
				<div class="delivery-menu-item-name">Напитки</div>
			</a>
		</div>
	</div>
</div>
</div>
</main>
{% include "partials/footer.twig" %}