{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>{{ post.title }}</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="photo-gallery_content">
        <div class="new-block-fone-white pad-50 container">

                <div class="photo-gallery_content-inner">
                    {% for image in gallery %}
                        {% if image.type == 'video' %}
                        <a data-fancybox="g1" class="gallery-item" href="{{ image.url }}">
                            <img src="{{ site.theme.link }}/assets/images/video-thmb.jpg" alt="" />
                            <div>
                                <img src="{{ site.theme.link }}/assets/images/play.png" alt="" />
                            </div>
                        </a>
                        {% else %}
                        <a data-fancybox="g1" class="gallery-item" href="{{ Image(image) }}">
                            <img src="{{ Image(image) }}" />
                            <div>
                                <img src="{{ site.theme.link }}/assets/images/zoom.png" alt="" />
                            </div>
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
   
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}