{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            {{ function('woocommerce_breadcrumb') }}
            <div class="all-page-title">
                <h1>МЕНЮ ДОСТАВКИ</h1>
            </div>
        </div>
    </div>
    <div class="product_single-page">
        <div class="container">
            <div class="product-content-top">
                <div class="product-content-img"><img src="{{ site.theme.link }}/assets/images/product_full.png" alt=""></div>
                <div class="product-content-top-info">
                    <div class="product-content-info-name">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="product-content-info-composition">
                        {{ post.get_field('composition') }}
                    </div>
                    <div class="popular-item-price">{{ product.get_price_html }}</div>
                    <div class="product-content-info-add-to-cart">
                        <div class="product-quantity">
                            <button onclick="$(this).next()[0].stepDown();">
                                <svg width="14" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1h13.5" stroke="#000"/></svg>
                            </button>
                            <input type="number" min="1" value="1" class="inputNumber">
                            <button onclick="$(this).prev()[0].stepUp();">
                                <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 7h13.5M7 0v13.5" stroke="#000"/></svg>
                            </button>
                        </div>
                        <button class="popular-item-button add-to-cart">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="product-content-bottom">
                <div class="choose-buttons">
                    <div class="choose-button active">Описание</div>
                    <div class="choose-button">Состав</div>
                </div>
                <div class="tab-content">
                    <div class="tab-content-inner" id="a1">
                        {{ post.get_content|shortcodes }}
                    </div>
                    <div class="tab-content-inner" id="a2">
                        {{ post.get_field('composition') }}
                    </div>
                </div>
            </div>
            <div class="relative-products">
                <div class="relative-products-title">ПОХОЖИЕ ТОВАРЫ</div>
                <div class="popular-slick">
                {% for post in related_products %}
                    <div class="popular-slick-content"> 
                        {% include "partials/product-item.twig" %}            
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}