{% include "partials/header.twig" %}
<main class='main-content page'>
    <div class="page-header">
        <div class="container">
            
            <div class="all-page-title">
                <h1>МЕНЮ ДОСТАВКИ</h1>
                {{ function('woocommerce_breadcrumb') }}
            </div>
        </div>
    </div>
    <div class="product_single-page">
        <div class="new-block-fone-white pad-50">
        <div class="container">
            <div class="product-content-top">
                <div class="product-content-img">
                    <img src="{{ post.thumbnail.src('shop_single') }}" alt="">
                </div>
                <div class="product-content-top-info">
                    <div class="product-content-info-name">
                        <h2>{{ post.title }}</h2>
                    </div>
                    <div class="product-content-info-composition">
                        {{ post.get_field('composition') }}
                    </div>
                    <div class="popular-item-price">{{ product.get_price_html }}</div>
                    <div class="product-content-info-add-to-cart">
                        <quantity-button class="product-quantity" count='1'></quantity-button>
                        <button class="popular-item-button add-to-cart" v-on:click="addCart({{ post.id }})">В корзину</button>
                    </div>
                </div>
            </div>
            <div class="product-content-bottom">
                <tabs>
                    <tab class="tab-content-inner" name="Описание" :selected="true">
                        {{ post.get_content|shortcodes }} 
                    </tab>
                    <tab class="tab-content-inner" name="Состав">
                        {{ post.get_field('composition') }}
                    </tab>
                </tabs>

            </div>
            <div class="relative-products">
                <div class="relative-products-title">ПОХОЖИЕ ТОВАРЫ</div>
                <div class="popular-slick">
                {% for post in related_products %}
                    <div class="popular-slick-content"> 
                        {% include "partials/product-item.twig" %}            
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</main>
{% include "partials/footer.twig" %}